* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.header {
  background-image: url(imgs/header-bg.jpg);
  width: 100%;
  height: 110vh;
  background-size: cover;
}
.all.sticky {
  position: fixed;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.5);
  transition: all 0.6s;
}
.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2.4rem 0 10rem;
  color: aliceblue;
  height: 4rem;
  border-bottom: 0.1px solid aliceblue;
  margin-bottom: 1rem;
}
.social-media-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.link-social-media,
.link-media {
  display: flex;
  align-items: center;
  list-style: none;
}
.link-social-media:link,
.link-social-media:visited,
.link-media:link,
.link-media:visited {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
}
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.3s;
}
.btn-link:hover,
.btn-link:active {
  color: black;
}
.contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem 0 10rem;
}
.logo {
  height: 5rem;
}
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.main-nav-link {
  display: flex;
  align-items: center;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #fab700;
}

.container {
  padding: 10rem 7rem 10rem 7rem;
}
.heading {
  font-size: 3rem;
  color: aliceblue;
  margin-bottom: 1rem;
}
.btn {
  padding: 1.2rem 2.5rem;
  background-color: #fab700;
  text-decoration: none;
  border: none;
  color: aliceblue;
  font-size: 1.2rem;
}
.text {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}
.heading-text {
  color: #000;
  margin-bottom: 2rem;
}
.sub-heading {
  color: #777;
  margin-bottom: 2rem;
}

.section-servicii {
  padding: 10rem 7rem 10rem 7rem;
}
.grid {
  display: grid;
  gap: 3rem;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.team {
  margin-top: 1rem;
  background-color: #f9f9ff;
  transition: all 0.3s;
}
.team:hover {
  background-color: #fab700;
}
.srv-img {
  width: 100%;
}
.cont {
  padding: 1rem;
}
.content-head {
  margin: 1rem 0 1rem 0;
  text-align: left;
  font-weight: 500;
  color: #000;
}
.content-text {
  text-align: left;
  line-height: 1rem;
}

.section-despre {
  padding: 10rem 7rem 10rem 7rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.content-head-despre {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  color: #000;
}
.content-text-despre {
  text-align: left;
  line-height: 1.2rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.img-despre {
  border-radius: 1rem;
}
.section-counter {
  padding: 0 7rem 0 7rem;
  background-color: #fab700;
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.counter {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
}
.cnt,
.counter {
  text-align: left;
}

.section-functii {
  padding: 5rem 7rem 0 7rem;
  background-color: #f6f6f6;
}
.icon {
  font-size: 1.4rem;
}
.feature {
  background-color: #fbfbfb;
}
.feature {
  margin: 1rem;
  padding: 2rem;
  transition: all 0.3s;
}
.data-head {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  line-height: 1.2rem;
  color: #000;
}
.feature p {
  text-align: left;
  font-size: 1rem;
  font-weight: lighter;
}
.feature:hover {
  background-color: #fab700;
  box-shadow: 0 0.8rem 1.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.8rem 1.8rem 0 rgba(0, 0, 0, 0.2);
}
.footer {
  padding: 8rem 7rem 8rem 7rem;
  background-color: #000;
}
.name-head {
  color: #f6f6f6;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.txt-footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #fab700;
}
.contact-footer {
  display: flex;
  flex-direction: column;
}

.link-media-footer:link,
.link-media-footer:visited {
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  transition: all 0.3s;
}
.link-media-footer:hover,
.link-media-footer:active {
  color: #fab700;
}
.icon-space {
  font-size: 1.4rem;
  color: #f6f6f6;
}
.Emvista {
  text-align: center;
  font-size: 1.2rem;
}

.accordion-item {
  background-color: #f6f6f6;
  color: #000;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item-header.active::after {
  transform: rotate(45deg);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
